/* ==========================================================================
   Font @import statements
   ========================================================================== */



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    box-sizing: border-box;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
body {
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
}
strong {
    font-weight: 600;
}
#__asptrace {
    display: none;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Flexbox Helpers
   ========================================================================== */

/* Create flexbox layouts easily! */
.flex-container {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-container.space-between {
    justify-content: space-between;
}
.flex-container.column {
    flex-flow: column;
}
.flex-container > * {
    flex: 1 1 auto;
}
.flex-container.two-across.space-between > *,
.flex-container.three-across.space-between > *{
    flex: 0 1 auto;
}
.flex-container > *.shrink-wrapped {
    flex: 0 1 auto;
}

.flex-container.menu-style {
    justify-content: space-between
}
.flex-container.menu-style > * {
    flex: 0 1 auto;
    position: relative;
}
.flex-container.menu-style li ul {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 10;
}
.flex-container.menu-style li ul li {
    list-style: none none;
    white-space: nowrap;
}
.flex-container.menu-style li:hover ul {
    display: block;
}
.flex-container.two-across > * {
    width: 50%;
}
.flex-container.space-between.two-across > * {
    width: 49%;
}
.flex-container.three-across > * {
    width: calc(100%/3);
}
.flex-container.space-between.three-across > * {
    width: 32%;
}
.column-twothirds {
    width: calc(200%/3);
}
.flex-container.space-between.twothirds-optional-aside > div {
    width: 66%;
    flex: 0 1 auto;
}
.flex-container.space-between.twothirds-optional-aside > aside  {
    width: 32%;
    flex: 0 1 auto;
}
.column-onethird, 
.flex-container.twothirds-optional-aside > aside {
    width: calc(100%/3);
    flex: 0 1 auto;
}

/* Unlistify unordered lists. */
ul.no-list, 
ul.flex-container {
    padding: 0;
    margin: 0;
}
ul.no-list li,
ul.flex-container > li{
    list-style: none none;
    padding: 0;
    display:inline-block;
}

/* Vertically center something with this class. */
.vertically-center {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
}

/* ==========================================================================
   Form and Form Element Classes
   ========================================================================== */

form {
    width: 100%;
    flex: 1 1 auto;
}
/*Disable WebKit Appearance*/
input, textarea {
    -webkit-appearance: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
}

fieldset > div {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}
fieldset.inline-divs > div {
    display: inline-block;
}
fieldset label {
    width: 145px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    flex: 1 0 auto;
}
input[type="submit"] {
    font-family: FontAwesome, Arial, sans-serif;
}

/* IMPORTANT!
If you want to make CSS changes to jQueryUI elements, edit the bottom of the 
jquery-ui.theme.css file. */

/* ==========================================================================
   General Structure
   ========================================================================== */

/* Visual aids to help you see all the structural elements. */
.fa {
    color: #ff0000;
    background: #000000;
}
article, footer, header, nav {
    background-color: white;
}
article > h2:first-child {
    margin-top: 0;
}
.header-container {
    background-color: blue;
}

.nav-container {
    background-color: silver;
}
.nav-container ul li ul {
    background: #ffffff;
}

.banner-container {
    background-color: magenta;
}
.content-container {
    background-color: lime;
}
.footer-container {
    background-color: grey;
}

.brand-container {
    background-color: yellow;
}
.secondary-nav-container {
    background-color: orange;
}
.secondary-nav-container ul li ul {
    background: orange;
}

.content-container .flex-container > * {
    outline: 1px dotted #c4c3c3;
    background-color: #f7e6e6;
}

/* Sticky footer CSS */
body { 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    height: 100vh;
}
body > section {
    width: 100%;
}
body > section.content-container {
    flex: 1 1 auto;
    align-self: auto;
}
body > section.header-container,
body > section.nav-container,
body > section.footer-container {
    flex: 0 1 auto;
    align-self: auto;
}

/* Adding some padding. */
.header-container {
    padding: 35px 0;
}
.nav-container {
    padding: 10px 0;
}
.content-container > article {
    padding: 20px;
}

section > article,
section > nav,
section > footer, 
section > header {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-container {
    padding: 20px 0;
    text-align: center;
}


/* ==========================================================================
   Details
   ========================================================================== */

.mobile {
    display: none;
}
.brand-container a {
    text-decoration: none;
    display: inline-block;
}
.banner-container > article {
    min-height: 220px;
}
.footer-nav-container ul li a {
    font-size: 12px;
}
footer a {
    margin: 0 10px;
}
.footer-fineprint-container {
    font-size: 12px;
}
#vmap {
    height: 500px;
    width: 100%;
}
.flex-container.tiles {
}
.flex-container.tiles > div {
    min-height: 100px;
}
.flex-container.tiles > div > p {
    text-align: center;
    width: 100%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after,
.content-container > article:before,
.content-container > article:after,
section:before,
section:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after,
.content-container > article: after,
section:after {
    clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 768px) {
    body > section > article, 
    body > section > nav, 
    body > section > footer, 
    body > section > header {
        padding: 0 10px;
    }
    .header-container {
        padding: 10px 0;
    }
    
}
@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 500px) {
    .mobile {
        display: block;
    }
    .nav-container, .secondary-nav-container {
        display: none;
    }
    .content-container {
        padding: 20px 0;
    }
    .flex-container > *,
    .flex-container.two-across > *,
    .flex-container.three-across > *,
    .flex-container.space-between.two-across > *,
    .flex-container.space-between.three-across > *{
        width: 100%;
    }
    .flex-container {
        flex-flow: column;
    }
    .flex-container.row > * {
        width: auto;
    }
    .flex-container.row.two-across > * {
        width: 50%;
    }
    .flex-container.row.three-across > * {
        width: calc(100%/3);
    }
    .flex-container.row {
        flex-flow: row;
    }
    .custom-class-one {
        order: 1;
    }
    .custom-class-two {
        order: 0;
    }
}

@media only screen and (max-width: 400px) {
    
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}